* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif, monospace;
}

body {
  height: 100dvh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 63px 1fr;
  transition: .2s;
}

.header {
  background-color: rgb(16 76 186);;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: .2s;
}

.header h3 {
  padding: 0 24px;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  transition: .2s;
}

.header ion-icon {
  color: white;
  font-size: 2rem;
  margin-left: 25px;
}

.header ion-icon:hover {
  background-color: darkgrey;
  border-radius: 50px;
  cursor: pointer;
}

.navroot {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  transition: .2s;
}

.navroot ion-icon {
  font-size: 1.5rem;
  padding: 0 16px;
}

.navroot ion-icon:hover {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 50px;
}

.sidenav {
  background-color: white;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-top: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#userInfo {
  padding: 16px;
  transition: .2s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

#userInfo span {
  font-size: 0.9rem;
}

#userInfo #userName {
  margin: 0 0 0 10px;
}

#userInfo ion-icon {
  font-size: 1.5rem;
}

#userInfo:hover {
  background-color: whitesmoke;
}

.content {
  background-color: whitesmoke;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  overflow-y: scroll;
}

.options div {
  display: flex;
  padding: 16px;
  transition: .2s;
  flex-wrap: nowrap;
}

.options div a {
  align-items: center;
}

#refreshBtn {
  align-items: center;
}

.options div:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.options div ion-icon {
  font-size: 1.6rem;
  margin-right: 35px;
}

.options span {
  display: flex;
  align-items: center;
}

.sidenav a {
  text-decoration: none;
  color: black;
}

.card {
  border: 1px solid black;
  margin: 12px;
  padding: 20px;
  width: 250px;
  height: 200px;
  background-color: white;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px; 
}

.card h3 {
  font-size: 1.3rem;
  color: black;
}

#dropdown {
  position: relative;
  display: inline-block;
  right: 51%;
  top: 3%;
}

#dropBtn {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  left: 5%;
  transition: .3s ease;
}

#dropBtn.active {
  transform: scaleY(-1);
  translate: 0 55px;
}

#dropBtn:hover {
  cursor: pointer;
}

#dropdown-content {
  position: absolute;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  transition: .3s;
  top: 20%;
}

#dropdown-content ion-icon {
  font-size: 1.3rem;
}

#dropdown-content ion-icon:hover {
  cursor: pointer;
}

#dropdown-content.active {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 640px) {
  .content {
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
  }
  
  .card {
    border: 1px solid black;
    margin: 12px;
    padding: 20px;
    width: 125px;
    height: 100px;
    background-color: white;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px; 
  }

  .card h3 {
    font-size: 1rem;
    translate: 0 15px;
  }

  .card img {
    width: 64px;
    height: 64px;
    translate: 0 10px;
  }

  #dropdown {
    position: relative;
    display: inline-block;
    right: 57%;
    top: 60%;
  }
  
  #dropBtn {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    left: 1%;
    font-size: 1px;
    transition: .3s ease;
  }
  
  #dropBtn.active {
    transform: scaleY(-1);
    translate: 0 45px;
  }
  
  #dropBtn:hover {
    cursor: pointer;
  }
  
  #dropdown-content {
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    transition: .3s;
    top: 20%;
  }
  
  #dropdown-content ion-icon {
    font-size: 1rem;
  }
}