* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    margin: 0px;
    overflow: hidden;
    background: linear-gradient(to top, #c31432, #240b36);
}

#heading {
    position: fixed;
    width: 100%;
    margin-top: 1rem;
  }

h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2.2rem;
    color: darkred;
    display: block;
    margin: 0px;
    font-weight: bold;
}

#info {
    position: fixed;
    color: darkred;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 50px;
    padding: 16px;

}
  
#progress {
    font-size: 3em;
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media only screen and (max-width: 600px) {
  #progress {
    font-size: 2em
  }
}

#ar-buttons {
  position: absolute;
  top: 93%;
  left: calc(50% - 100px);
  display: flex;
  gap: 140px;
}

#ar-buttons button {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}