* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow: hidden;
  background: linear-gradient(to top, #c31432, #240b36);
}

#navbutton {
  width: 40px;
  height: 40px;
  transition: .5s ease-out;
  top: 36.15%;
  margin-left: 10px;
  position: fixed;
  padding: 2px;
}

#navbutton span {
  height: 5px;
  width: 88%;
  background-color: darkgray;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  transform:  translate(-50%, -50%);
  transition: .3s ease;
}

#navbutton span:nth-child(1) {
  top: 25%;
}

#navbutton.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#navbutton.active span:nth-child(2) {
  opacity: 0;
}

#navbutton span:nth-child(3) {
  top: 75%;
}

#navbutton.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
} 

#navbutton:hover span {
  cursor: pointer;
  background-color: white;
}

.sidenav {
  position: absolute;
  background: linear-gradient(to top, whitesmoke, grey);
  transition: .3s ease-in;
  top: 35%;
  margin-left: -215px;
}

.sidenav h1 {
  text-align: center;
  padding: 10px;
  font-weight: 700;
  border: 5px outset black;
}

.sidenav ul li {
  list-style: none;
  border: 2px outset black;
}

.sidenav ul li span {
  display: block;
  text-align: center;
  font-weight: 550;
  padding: 10px;
  color: inherit;
  text-decoration: none;
  transition: .2s ease-out;
}

.sidenav ul li #rb19 {
  color: orange;
  background: #23326A;
}

.sidenav ul li #sf23 {
  color: black;
  background: darkred;
}

.sidenav ul li #artest {
  color: black;
  background: yellowgreen;
}

.sidenav ul li span:hover {
  padding: 15px;
  color: white !important;
  cursor: pointer;
}

#heading {
  position: fixed;
  width: 100%;
  margin-top: 1rem;
  color: #c31432;
}

#heading h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2.2rem;
  color: inherit;
  display: block;
  margin: 0px;
  font-weight: bold;
}

#login-ui {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  top: 8%;
  margin-left: 5px;
}

#login-ui #google-sign-in {
  cursor: pointer;
  transition: color .3s, box-shadow .3s, padding .3s;
      
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

#login-ui #sign-out {
  cursor: pointer;
  transition: color .3s, padding .3s, box-shadow .3s;
      
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

#login-ui #top-login #dashboardBtn {
  cursor: pointer;
  transition: color .3s, padding .3s, box-shadow .3s;
      
  padding: 12px 16px 12px 21px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  
  background: white; 
  margin-left: 5px;
}

#login-ui #top-login {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-ui #sign-out:hover {
  padding: 12px 16px 12px 48px;
  color: black;
}

#login-ui #google-sign-in:hover {
  padding: 12px 16px 12px 48px;
  color: black;
}

#login-ui #top-login #dashboardBtn:hover {
  padding: 12px 16px 12px 27px;
  color: black;
}

#login-ui #sign-out:focus {
  box-shadow: 
  0 -1px 0 rgba(0, 0, 0, .04),
  0 2px 4px rgba(0, 0, 0, .25),
  0 0 0 3px #c8dafc;
}

#login-ui #google-sign-in:focus {
  box-shadow: 
  0 -1px 0 rgba(0, 0, 0, .04),
  0 2px 4px rgba(0, 0, 0, .25),
  0 0 0 3px #c8dafc;
}

#login-ui button, #login-ui input, #login-ui label{
  display: inline-block;
  border: 3px outset black;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  background: linear-gradient(to top, whitesmoke, grey);
  padding: 2px;
  margin: 1.5px 5px;
  transition: .3s ease;
}

#login-ui button:hover, #login-ui input:hover, #login-ui label:hover {
  background-color: whitesmoke;
  color:whitesmoke;
  padding: 4px;
  cursor: pointer;
  border: 3px inset black;
} 

#carinfo {
  position: fixed;
  color: #c31432;
  font-weight: bold;
  font-size: 1.5rem;
  bottom: 70%;
  border: 5px outset;
  border-color: #c31432;
  right: 2%;
  padding: 4px;
}

#progress {
  font-size: 3em;
  color: white;
  position: absolute;
  bottom: 15%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#load-info {
  font-size: 2em;
  color: white;
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#web-ui {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 200px;
  top: 300px;
  left: 1650px;
  justify-content: start;
  color: whitesmoke;
}

#web-ui #modelsize{
  position: absolute;
  font-size: 1.5rem;
  color: inherit;
  text-transform: uppercase;
  left: 22%;
}

#web-ui #horizontal {
  position: absolute;
  font-size: 1.5rem;
  color: inherit;
  text-transform: uppercase;
  left: 22%;
}

#web-ui #vertical {
  position: absolute;
  font-size: 1.5rem;
  color: inherit;
  text-transform: uppercase;
  left: 27%;
}

#model-slider {
position: relative;
margin: 16px 25px;
width: 150px;
height: 5px;
border-radius: 5px; 
background: grey;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

#model-slider:hover {
opacity: 1;
}

#model-slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: black;
cursor: pointer;
}

#model-slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: black;
cursor: pointer;
}

#x-slider {
  position: relative;
  margin: 16px 25px;
  width: 150px;
  height: 5px;
  border-radius: 5px; 
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#reset {
  position: relative;
  margin-left: 25px;
  width: 150px;
  height: 30px;
  background: grey;
  outline: none;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: whitesmoke;
  transition: background .3s;
}

#reset:hover {
  background: darkgrey;
  cursor: pointer;
}

#reset:active {
  transform: translateY(3px);
}

#y-slider {
  position: relative;
  margin: 16px 25px;
  width: 150px;
  height: 5px;
  border-radius: 5px; 
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
#x-slider:hover, #y-slider:hover {
  opacity: 1;
}
  
#x-slider::-webkit-slider-thumb, #y-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}
  
#x-slider::-moz-range-thumb, #y-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.x-slider, .y-slider, .size-slider, .resetBtn {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.x-slider #in-x, .y-slider #in-y, .size-slider #in {
position: absolute;
color: inherit;
font-size: 1.5rem;
left: 90%;
}

.x-slider #out-x, .y-slider #out-y, .size-slider #out {
position: absolute;
color: inherit;
font-size: 1.5rem;
left: 5%;
}

.kginfo {
  display: flex;
  color: inherit;
  flex-direction: column;
  align-items: center;
}

.kginfo #kg {
  font-size: 1.5rem;
}

.kginfo #modelkg {
  font-size: 2rem;
}

#ar-content * {
  display: none;
}

@media only screen and (max-width: 600px) {
  #progress {
    font-size: 2em
  }

  #web-ui {
    flex-direction: column;
    width: 150px;
    top: 16%;
    left: 60%;
    justify-items: center;
    align-items: center;
    color: whitesmoke;
  }

  #web-ui #modelsize, #web-ui #horizontal, #web-ui #vertical {
    font-size: 1.2rem;
  }

  #heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #carinfo {
    position: relative;
    top:0px;
    left:0px;
    font-size: 1.1em;
    border: 5px outset #c31432;
    height: 35px;
    width: fit-content;
    padding: 4px 4px 4px 7px;
  }

  #model-slider, #x-slider, #y-slider {
    width: 100px;
  }

  #model-slider::-webkit-slider-thumb, #x-slider::-webkit-slider-thumb, #y-slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }

  #model-slider::-moz-range-thumb, #x-slider::-moz-range-thumb, #y-slider::-moz-range-thumb{
    width: 15px;
    height: 15px;
  }
  
  .size-slider, .x-slider, .y-slider {
    width: 150px;
  }

  .size-slider #in, .x-slider #in-x, .y-slider #in-y {
  font-size: 1rem;
  }

  .size-slider #out, .x-slider #out-x, .y-slider #out-y {
    font-size: 1rem;
    margin-left: 5px; 
  }
  
  .kginfo #kg {
    font-size: 1.1rem;
  }
  
  .kginfo #modelkg {
    font-size: 1.7rem;
  }
  
  #navbutton {
    top: 36%;
    padding: 1px;
  }
  
  #navbutton:hover {
    cursor: pointer;
    border: none
  }
  
  .sidenav {
    position: absolute;
    background: linear-gradient(to top, whitesmoke, grey);
    top: 34.5%;
    margin-left: -215px;
  }
  
  .sidenav h1 {
    text-align: center;
    padding: 10px;
    font-weight: 700;
    border: 5px outset black;
  }
  
  .sidenav ul li {
    list-style: none;
    border: 2px outset black;
  }
  
  .sidenav ul li span {
    display: block;
    text-align: center;
    font-weight: 550;
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .sidenav ul li span:hover {
    padding: 15px;
    color: white !important;
    cursor: pointer;
  }
  
  #login-ui {
    top: 8.5%;
    right: 32.5%;
    transform: scale(60%);
  }
  
  #login-ui button{
    display: inline-block;
    border: 3px outset black;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    background: linear-gradient(to top, whitesmoke, grey);
    padding: 2px;
    margin: 1.5px 5px;
    transition: .3s ease;
  }
  
  #login-ui button:hover {
    background-color: whitesmoke;
    color:whitesmoke;
    padding: 4px;
    cursor: pointer;
    border: 3px inset black;
  }
  
  #reset {
    margin-left: 5px;
    width: 100px;
    height: 20px;
    font-size: 1.2rem;
  }
  
  #reset:active {
    transform: translateY(1.5px);
  }

  /* AR Overlay */
  #ar-content #ar-place {
    display: none;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 75px);
    width: 120px;
    height: 35px;
  }

  #ar-content #ar-scale {
    display: none;
    position: absolute;
    margin: 12px;
    left: calc(50% - 90px);
    bottom: 75px;
    width: 150px;
    height: 7px;
    border-radius: 5px; 
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  #ar-content #ar-scale:active {
    opacity: 1;
  }
    
  #ar-content #ar-scale::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
    
  #ar-content #ar-scale::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }

  #ar-content #ar-scale-kg {
    display: none;
    position: absolute;
    left: calc(50% - 25px);
    bottom: 115px;
    font-size: 1.6rem;
    font-weight: 700;
    color: whitesmoke;
  }

  #ar-content #ar-remove {
    display: none;
    position: absolute;
    bottom: 20px;
    left: calc(50% + 50px);
    width: 30px;
    height: 35px;
  }

  #ar-content #ar-remove:active, #ar-content #ar-place:active {
    transform: translateY(1.5px);
  }
}

